#tasks article {
    background-color: lightgray;
    padding: 10px;
    float: left;
    min-width: 300px;
    width: 20%;
    margin: 10px;
    height: 70vh;

    overflow-y: auto;
}

#tasks {
    display: inline-block;
}

#tasks .task {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 10px;
}

button.inactive {
    color: lightgray;
}