#tasks article {
    background-color: darkblue;
    padding: 10px;
    margin: 10px;
    float: left;
    min-width: 300px;
    width: 20%;
}

#tasks .task {
    background-color: cornflowerblue;
    padding: 10px;
    margin: 10px;
}

button.inactive {
    color: lightgray;
}