  body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Navigation bar CSS */
  .topnav {
    overflow: hidden;
    background-color: #333;
    margin: 0;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.home {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* content */
  * {
    box-sizing: border-box;
  }

  .main-section {
    padding: 1vh 15vw;
    background-color: #04AA6D;
    text-align: center;
  }

  #profile-picture {
    padding-top: 20%;
    width: 30%;
    height: auto;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive small screen */
  @media screen and (max-width: 600px) {

    .main-section {
      padding: 1vh 1vw;
    }

    #profile-picture {
      width: 90%;
      height: auto;
    }

    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }